[2021-09-02 13:24] CoryMartin-NOAA opened #2 "Preliminary Evaluation of UFO Capabilities"

[2021-09-02 13:34] CoryMartin-NOAA opened #3 "AMSU-A Preliminary Evaluation"
Issue to track preliminary evaluation of AMSU-A forward operator, quality control, and bias correction in UFO.

H(x) computation
- [ ] NOAA-15 H(x)
- [ ] NOAA-18 H(x)
- [ ] NOAA-19 H(x)
- [ ] MetOp-A H(x)
- [ ] MetOp-B H(x)
- [ ] MetOp-C H(x)

H(x) with bias correction
- [ ] NOAA-15 H(x) BC
- [ ] NOAA-18 H(x) BC
- [ ] NOAA-19 H(x) BC
- [ ] MetOp-A H(x) BC
- [ ] MetOp-B H(x) BC
- [ ] MetOp-C H(x) B

[2021-09-09 16:42] CoryMartin-NOAA commented on #3
A week of GSI diags have been produced on Orion and stored in the `ufo_eval_ref` R2D2 database under the experiment `gdas_f006_nofov_nonsst`.
For traditionalists, these are stored at: `/work/noaa/da/cmartin/UFO_eval_gfs/R2D2_readonly/ncdiag/ob/gdas_f006_nofov_nonsst/`

[2021-09-22 19:57] CoryMartin-NOAA commented on #3
Some files for @emilyhcliu:
IODA obs: `/work/noaa/da/cmartin/UFO_eval_gfs/R2D2_readonly/ncdiag/ob/gdas_f006_nofov_nonsst/`
UFO BC files: `/work/noaa/stmp/cmartin/UFO_eval_gfs/R2D2_readonly/gsi/bc/oper/`
GSI diags/geovals: `/work/noaa/da/Cory.R.Martin/noscrub/UFO_eval/ROTDIRS/DARTH/allob_fh006_nonsstfov/`

Did I forget anything?

[2021-09-22 20:02] emilyhcliu commented on #3
@CoryMartin-NOAA Thanks.  These files are all I need.

[2021-12-20 15:02] CoryMartin-NOAA opened #7 "Add 'j-jobs' for UFS DA"
Need three 'j-jobs' for each new task for UFS DA:

- [ ] UFS DA atmos analysis prep
- [ ] UFS DA atmos analysis run
- [ ] UFS DA atmos analysis post

[2021-12-20 15:05] CoryMartin-NOAA commented on #7
Work has started in branch [`feature/jjobs`](https://github.com/NOAA-EMC/JEDI-T2O/tree/feature/jjobs)

[2021-12-20 20:15] CoryMartin-NOAA commented on #7
Included in this will be the corresponding rocoto jobs scripts (work required in global-workflow repo).

[2021-12-20 20:44] CoryMartin-NOAA opened #8 "Python utility to update analysis fields"
Need to develop a python-based utility to update fields in FV3 RESTART files with those produced by FV3-JEDI.

[2021-12-20 20:59] CoryMartin-NOAA commented on #8
Work has begun in branch https://github.com/NOAA-EMC/JEDI-T2O/tree/feature/update_anl

[2021-12-21 15:18] CoryMartin-NOAA opened #10 "Add 'ex-script' for UFSDA atm prep"

[2021-12-21 15:19] CoryMartin-NOAA opened #11 "Add 'ex-script' for UFSDA atm post"

[2021-12-21 15:19] CoryMartin-NOAA opened #12 "Add 'ex-script' for UFSDA atm analysis run"

[2021-12-21 15:42] #8 closed, assigned to CoryMartin-NOAA

[2021-12-21 16:11] CoryMartin-NOAA opened #13 "Create ush/ufsda python utilities for workflow/YAML needs"

[2021-12-28 13:55] #7 closed, assigned to CoryMartin-NOAA

[2022-02-16 20:36] RussTreadon-NOAA commented on #13
Work done in [feature/ex_scripts](https://github.com/NOAA-EMC/JEDI-T2O/tree/feature/ex_scripts) and merged into [develop](https://github.com/NOAA-EMC/JEDI-T2O/tree/develop).   Therefore, delete `feature/ex_scripts` at https://github.com/NOAA-EMC/JEDI-T2O/commit/83dcb8e8a138479c39e2c331f2a87938312c38f6 and close this issue.

[2022-02-16 20:36] #13 closed, assigned to CoryMartin-NOAA

[2022-02-16 20:36] RussTreadon-NOAA commented on #11
Work done in [feature/ex_scripts](https://github.com/NOAA-EMC/JEDI-T2O/tree/feature/ex_scripts) and merged into [develop](https://github.com/NOAA-EMC/JEDI-T2O/tree/develop).   Therefore, delete `feature/ex_scripts` at https://github.com/NOAA-EMC/JEDI-T2O/commit/83dcb8e8a138479c39e2c331f2a87938312c38f6 and close this issue.

[2022-02-16 20:36] #11 closed, assigned to CoryMartin-NOAA

[2022-02-16 20:36] RussTreadon-NOAA commented on #12
Work done in [feature/ex_scripts](https://github.com/NOAA-EMC/JEDI-T2O/tree/feature/ex_scripts) and merged into [develop](https://github.com/NOAA-EMC/JEDI-T2O/tree/develop).   Therefore, delete `feature/ex_scripts` at 83dcb8e and close this issue.

[2022-02-16 20:36] #12 closed, assigned to CoryMartin-NOAA

[2022-02-16 20:36] RussTreadon-NOAA commented on #10
Work done in [feature/ex_scripts](https://github.com/NOAA-EMC/JEDI-T2O/tree/feature/ex_scripts) and merged into [develop](https://github.com/NOAA-EMC/JEDI-T2O/tree/develop).   Therefore, delete `feature/ex_scripts` at https://github.com/NOAA-EMC/JEDI-T2O/commit/83dcb8e8a138479c39e2c331f2a87938312c38f6 and close this issue.

[2022-02-16 20:36] #10 closed, assigned to CoryMartin-NOAA

[2022-03-03 14:10] CoryMartin-NOAA opened #15 "UFS-DA GDAS Prototype A"
Initial JEDI-based GDAS prototype system epic.

[2022-03-03 14:29] #15 closed, assigned to nobody

[2022-03-03 14:31] CoryMartin-NOAA opened #16 "C96 Static B generated by BUMP"
Create a set of files needed for a realistic static background error covariance matrix using BUMP for C96 resolution from global GFS ensemble forecasts.

[2022-03-03 14:33] CoryMartin-NOAA opened #17 "Write FV3 compatible LatLon analysis increments using FV3-JEDI"
Either directly in the FV3-JEDI increment write interface or through an intermediate converter script. Needs to match up with variable names, dimension names, metadata, etc. This work will eventually be superseded by cube sphere increment writes in FV3-JEDI and cube sphere increment read capabilities in the model interface.

[2022-03-03 14:34] CoryMartin-NOAA opened #18 "Stand up basic plotting/analysis capabilities for this cycled experiment"
- [ ] Increments
- [ ] O-B plots/stats
- [ ] Minimization stats

[2022-03-03 14:36] CoryMartin-NOAA opened #19 "Read PrepBUFR file directly into IODA file format"
using Ron's BUFR2IODA tool to create IODA netCDF file from operational prepBUFR file.

[2022-03-03 14:38] CoryMartin-NOAA opened #20 "Convert AMSU-A BUFR files into IODA format"
Using BUFR2IODA, subset operational GDAS AMSU-A BUFR files to IODA netCDF files, one per satellite.

[2022-03-03 14:38] CoryMartin-NOAA opened #21 "Convert IASI BUFR files into IODA format"
Using BUFR2IODA, subset operational GDAS IASI BUFR files to IODA netCDF files, one per satellite.

[2022-03-03 14:42] CoryMartin-NOAA opened #22 "GSI QC Procedures for sondes and surface pressure in UFO YAML"
Need to assimilate a subset of in situ observations, for now try just:

- [ ] radiosondes
- [ ] surface pressure

[2022-03-03 14:45] CoryMartin-NOAA opened #23 "GSI QC procedures for radiances in UFO YAML"
Need to assimilate in this initial prototype:

- [ ] AMSU-A N15
- [ ] AMSU-A N18
- [ ] AMSU-A N19
- [ ] AMSU-A MetOp-B
- [ ] AMSU-A MetOp-C
- [ ] IASI MetOp-B
- [ ] IASI MetOp-C

[2022-03-03 14:56] CoryMartin-NOAA opened #24 "Run prototype A on Orion"

[2022-03-03 14:57] CoryMartin-NOAA opened #25 "Store Prototype A configuration YAMLs in repository."
Should these be in this repo? Or somewhere else?

[2022-03-03 14:59] CoryMartin-NOAA opened #26 "Populate R2D2 database of Prototype A obs"

[2022-03-03 16:55] CoryMartin-NOAA opened #27 "Update R2D2 scripts to use develop branch of R2D2 for Prototype A"

[2022-03-22 15:35] CoryMartin-NOAA commented on #24
[code]
Another test

[2022-04-22 18:30] CoryMartin-NOAA opened #29 "Process Reference Dataset for UFO Evaluation"
Need to rerun GDAS for ~1 week starting Aug 1 2021 00z.
- Hourly output from model initialized from IAU RESTARTs
- Run GSI in operational configuration for GFSv16
- Run ioda-converters on GSI output diagnostic files

To do list:

- [x] Grab operational files from HPSS and stage on Orion
- [x] Rerun forecasts with hourly output in FMS RESTART format
- [x] Rerun GSI observer for each cycle using hou

[2022-04-22 18:31] CoryMartin-NOAA commented on #29
Tagging @ADCollard and @emilyhcliu for awareness

[2022-05-02 22:00] CoryMartin-NOAA commented on #29
GSI will be using this branch: https://github.com/CoryMartin-NOAA/GSI/tree/ufoeval_aug2021_l127_fgat which is a combination of GSI tag gfsda.v16.2.0.1 and an IR bugfix from @ADCollard

[2022-06-13 20:08] CoryMartin-NOAA opened #30 "Tracking JEDI-based GDAS issues that warrant discussion with GMAO"
Please discuss anything here that we think needs the attention of @danholdaway

[2022-06-29 16:48] CoryMartin-NOAA commented on #29
The model has been re-run with turning OFF lossy netCDF compression in the history files. (`nbits=0`). Next, GSI will have to be re-run, however it is up for discussion on how many times.
For example:
- 3D H(x) only?
- 4D H(x) only?
- 3D H(x) with modified `prsi` coming from `delp` (to compare vs `prsi` coming from `pressfc` and `ak` `bk` values)

[2022-06-29 18:29] CoryMartin-NOAA opened #31 "AMSU-A 3D H(x) Evaluation"
Compare H(x) generated from GSI with H(x) generated by FV3-JEDI in UFO for both unbias corrected and bias corrected radiances for each AMSU-A platform and channel.

[2022-06-30 19:26] CoryMartin-NOAA opened #32 "Evaluate Wind QC Procedures in Aircraft YAML File"
An aircraft YAML file exists in GDASApp copied from UFO/ewok/jedi-gdas on June 28, 2022.

Before diving into replicating the PrepBUFR preprocessing for aircraft observations, we should first check that the QC procedures implemented in UFO match those being performed in GSI on PrepBUFR aircraft observations.

- [ ] Run GDASApp for first week of August 2021 for aircraft observations
- [ ] Compare Ef

[2022-07-05 20:07] CoryMartin-NOAA commented on #31
![Screenshot from 2022-07-05 20-01-43](https://user-images.githubusercontent.com/6354668/177407095-3f51d3d0-e8e5-4bab-bf94-4a90efc46264.png)
![Screenshot from 2022-07-05 19-57-38](https://user-images.githubusercontent.com/6354668/177407098-8f1b02ee-5304-4a83-b87f-abab748ef3db.png)
![Screenshot from 2022-07-05 19-56-53](https://user-images.githubusercontent.com/6354668/177407102-ca46ccf8-124b-4cdb-

[2022-07-06 14:53] CoryMartin-NOAA opened #33 "Compare interface pressure computation methods"
Compare GeoVaLs and H(x) when computing interface pressures (`prsi`) using the following two methods:
- `prsi(k) = ak(k) + bk(k) * p_surface` (GSI way)
- `prsi(k) = sum(delp(1:k))` (FV3-JEDI way)

[2022-07-06 15:05] CoryMartin-NOAA commented on #33
A previous GSI run with H(x) and GeoVaLs differs in two way from the newer GSI run:
- `prsi` is computed the JEDI wa
- Lossy netCDF compression in the write-grid component of GFS was turned off, allowing for only lossless compression

The second point explains figures such as the first one:
![Screenshot from 2022-07-06 15-02-03](https://user-images.githubusercontent.com/6354668/177581908-12ee1c0c-

[2022-07-06 15:23] CoryMartin-NOAA commented on #33
Taking a quick look at `H(x)` for amsu-a_n19 and conventional temperature

AMSU-A N19:
![Screenshot from 2022-07-06 15-10-28](https://user-images.githubusercontent.com/6354668/177584477-9df2779c-e895-476c-9745-c6381953f206.png)
Differences range from very small to ~0.15K (depending on channel/location), it is generally a positive difference when not near zero, suggesting the model derived observat

[2022-07-06 15:31] CoryMartin-NOAA commented on #33
For good measure, here is `conv_ps`:
![Screenshot from 2022-07-06 15-30-20](https://user-images.githubusercontent.com/6354668/177587875-03664552-97d4-4f22-af80-401302501f87.png)
Most differences are again small (within 0.25 mb) but some can be as large as 2.5 mb

[2022-07-06 20:02] CoryMartin-NOAA commented on #31
@ADCollard and I have been trying to figure out this problem for a while:

![Image](https://user-images.githubusercontent.com/6354668/177633254-d777dd76-c878-43cb-a315-4ee0f659c569.png)

`cmp` was executed on the `amsua_n19.TauCoeff.bin` file that comes with JEDI and the version that existed already on Orion for CRTM 2.3.0:
[code]

Copying the TauCoeff.bin file to `/work2/noaa/da/cmartin/GDASApp/f

[2022-07-07 14:38] nicholasesposito commented on #32
I've generated two images of EffectiveQC and GsiEffectiveQC for air_temperature. Next is to
1. Look at the log to see if anything is rejected
2. Plots QC and see if there is a reason for that red area in the Atlantic (and other red areas). Perhaps they are on a reject list?
3. Uncomment Pre-QC section of the yaml. Re-run and see what the results are.
![airT_EffQC](https://user-images.githubusercon

[2022-07-13 17:11] #3 closed

[2022-07-13 17:12] #2 closed

[2022-07-13 17:29] CoryMartin-NOAA opened #34 "Radiosonde 3D H(x) Evaluation"
This issue will track the progress of evaluation of radiosonde H(x) from UFO relative to GSI for air/virtual temperature, specific humidity, surface pressure, and eastward/northward wind for UFO acceptance activities.

[2022-07-13 19:54] CoryMartin-NOAA commented on #34
An initial look of H(x) differences for a cycle:
![Screenshot from 2022-07-13 19-23-30](https://user-images.githubusercontent.com/6354668/178819961-850bc83f-338f-464e-ac2b-8749ec1d3fbf.png)
![Screenshot from 2022-07-13 19-51-44](https://user-images.githubusercontent.com/6354668/178820855-7f1dfe56-49b4-450d-8e1b-42531c2dd3cf.png)

"Eyeballing it" looks like the 1-sigma is somewhere around 0.5m/s or

[2022-07-14 13:53] nicholasesposito commented on #32
Per the most recent post, the results of each of the next 3 steps are as follows:
1. Look at the log to see if anything is rejected
QC Aircraft air_temperature: 8 missing values.
QC Aircraft air_temperature: 16 out of bounds.
**QC Aircraft air_temperature: 37 rejected by first-guess check.**
QC Aircraft air_temperature: 120326 passed out of 120387 observations.
QC Aircraft eastward_wind: 690 missi

[2022-07-14 15:24] nicholasesposito commented on #32
I uncommented the PreQC sections. I had to rebuild GDASApp because in one of the Obsfunctions, it was looking for ObsValue/pressure (which is the new way) where it needed to look for MetaData/air_pressure (because we're using the old way). I updated that, re-built, and re-ran and got the following plots:
![airT_EffQC_preqc](https://user-images.githubusercontent.com/62616739/179018620-7051228a-37f2

[2022-07-14 19:13] nicholasesposito commented on #32
I plotted GsiEffectiveQC and EffectiveQC for air_temperature. I couldn't at first because len(GsiEQC) was 8 fewer. I noticed that 8 was also the number of missing values from earlier. I decided to plot entire arrays. The lengths were now the same so a plot was doable. The plot wasn't perfect. I did a point-to-point comparison of the arrays and 5863 of 120387 (4.8% of points) data points did not ma

[2022-07-21 13:47] PraveenKumar-NOAA commented on #32
Created a document listing all the Aircraft QC procedures implemented in UFO and GSI/prepBUFR:
https://docs.google.com/document/d/1NsapgN9IT_j7OZLWh9PaOnJ6VwVMOaByT_qv_s-RmQI/edit?pli=1

[2022-07-21 17:02] nicholasesposito commented on #32
Here are the jedi hofx and GsiHofX for air_temperature plots:
![airT_jediHofX](https://user-images.githubusercontent.com/62616739/180272010-eec82c81-880d-4425-b72d-57294e9299ee.png)
![airT_gsiHofX](https://user-images.githubusercontent.com/62616739/180272011-00aec94e-73b8-4358-af96-f8c3277886e0.png)

[2022-07-21 17:16] nicholasesposito commented on #32
And here is the air_Pressure vs (GsiHofX - jediHofX)
NOTE: updated to invert y-axis

![gHx_minus_jHx_vs_airP](https://user-images.githubusercontent.com/62616739/180298688-94704158-6340-4705-90d9-925a68163996.png)

[2022-07-22 16:58] CoryMartin-NOAA opened #35 "Evaluate GeoVaL differences between GSI and JEDI"
Before we can do sufficient H(x) or QC evaluations, we need to understand the differences in model variables provided to the forward operators.

This is a twofold problem:

1. GSI uses a Gaussian grid and FV3-JEDI uses a cube sphere grid; what uncertainties come from this difference
2. What uncertainties come from interpolation methods?

We can mitigate 1 by using GSI in the regional configuration

[2022-07-22 17:25] CoryMartin-NOAA commented on #35
For some background, see Fan Han's ISDA presentation here: https://docs.google.com/presentation/d/11UZ63r3ZzXB_a7qHIynuibZ-R4b3MZFsyBPPfw2HyQo/edit?usp=sharing

[2022-07-22 18:20] CoryMartin-NOAA commented on #35
GeoVaLs were computed for 9118 locations of AMSU-A N19 observations for one cycle.
These plots show air temperature differences between interpolated points from GSI and JEDI.
@fmahebert has created a bugfix branch for barycentric interpolation https://github.com/JCSDA-internal/oops/tree/feature/test_interp_barycentric_weight_fix

Total columns
![Screenshot from 2022-07-22 17-50-21](https://user-im

[2022-07-22 19:08] CoryMartin-NOAA commented on #35
Doing the same for a regional GSI / JEDI comparison (using 3km CONUS RRFS backgrounds) yields similar results. The bugfix is closer to GSI and standard deviations are in the ballpark of ~0.1K

![Screenshot from 2022-07-22 19-07-10](https://user-images.githubusercontent.com/6354668/180507048-8cc8eb34-5155-4c34-8845-d2afb7780a9e.png)

[2022-07-22 20:18] CoryMartin-NOAA commented on #34
"Eyeballing it" may be misleading. Here's a quick histogram of virtual temperature:
![Screenshot from 2022-07-22 20-16-07](https://user-images.githubusercontent.com/6354668/180522273-7fc97963-7882-4ad8-85e4-0de43b277221.png)

There are differences as large as -8 or 6K, but the mean is 0.014K and the standard deviation is 0.18K. So the differences in Tv H(x) are consistent with the differences in T

[2022-07-22 20:38] CoryMartin-NOAA commented on #32
Here is a histogram of @nicholasesposito 's test, while the above scatter looks worrisome, the histogram shows much closer agreement
![Screenshot from 2022-07-22 20-36-43](https://user-images.githubusercontent.com/6354668/180562044-fa0596d7-e752-4a8d-8d61-e207e1c9467a.png)

Mean of JEDI - GSI (non bias corrected) is -0.001K and the std. dev. is 0.123K

[2022-07-22 21:05] fmahebert commented on #35
For completeness' sake, I'll note here that the bugfix branch that Cory is testing in the plots above fixes one of two bugs in the oops interpolator. The spread would hopefully tighten a bit more once the second bug is fixed (estimated timescale: a couple months). However, the fact that the large-error tails are hardly affected by the first bugfix surprises me, and may indicate there's more than i

[2022-07-22 23:43] emilyhcliu commented on #35
@CoryMartin-NOAA Do you have the statistics (larges +- values, mean and std) like those you have for the Global JEDI-GSI comparison?

[2022-07-25 13:11] CoryMartin-NOAA commented on #35
@emilyhcliu sure, here are the numbers for the regional case
Largest negative values:
develop: -3.0720673 fix: -3.3456573
Largest positive values:
develop: 2.3089905 fix: 2.3059387
Mean:
develop: -0.0005921195 fix: -0.00051495014
Std. Dev.:
develop: 0.10015012 fix: 0.09827528

One thing to note that is not shown here but I want to document, for the regional case, there are several points near/at t

[2022-07-25 18:37] ADCollard commented on #35
Tagging @BrettHoover-NOAA and @HaixiaLiu-NOAA for awareness

[2022-07-26 16:10] PraveenKumar-NOAA commented on #32
I have created plots of EffectiveQC and GsiEffectiveQC for both the eastward_wind and northward_wind, with commented PreQC section in yaml. These plots look like the air-temperature one that Nick created. Next step is to create and check these for uncommented PreQC section.
![eastWind_EffectiveQC](https://user-images.githubusercontent.com/63739712/181056648-54b380c4-23cf-4039-8511-1e4ea84490d4.png

[2022-07-26 23:10] nicholasesposito commented on #32
Here are the plots for Specific Humidity. The first four are how the code current is.

![origSH_EffQC](https://user-images.githubusercontent.com/62616739/181127235-0b8b73c3-2d67-474b-b8e1-195a58f39c1e.png)
![origSH_GsiEffQC](https://user-images.githubusercontent.com/62616739/181127238-04fdef5b-7b33-492f-82e1-65d89dfbd380.png)
![orig_scatt_shgsiqc_vs_sheffqc](https://user-images.githubusercontent.c

[2022-07-27 11:37] CoryMartin-NOAA commented on #32
@nicholasesposito those air_pressure Y axis plots look incorrect. It looks like it is plotting GsiEffectiveQC-EffectiveQC and not GsiHofX-hofx...

[2022-07-27 15:30] nicholasesposito commented on #32
@CoryMartin-NOAA Updated!

[2022-07-27 15:46] CoryMartin-NOAA commented on #32
@nicholasesposito I'm a little curious as to why the scatter plots are different for the QC runs. Does the scatter plot code filter out data somehow? I would think the H(x) differences should be the same regardless of QC choices

[2022-07-27 16:19] nicholasesposito commented on #32
@CoryMartin-NOAA The scatterplots do no filtering.
If you'd like to take a look, they're here. They're quite simple:
/scratch1/NCEPDEV/da/Nicholas.Esposito/gdas_single_test_hofx3d_orig/diags/scatterplot.py
/scratch1/NCEPDEV/da/Nicholas.Esposito/gdas_single_test_hofx3d_orig/diags/scatterplot_P_vs_G-J.py

[2022-07-27 16:29] CoryMartin-NOAA commented on #32
@nicholasesposito thanks, I see that. Very interesting, So I wonder why the scatter plots are so much different... The most minimum values differ by an order of magnitude.

[2022-08-01 17:56] CoryMartin-NOAA commented on #35
Running the regional case with `inverse distance` (the other option already in OOPS) and `bilinear` (the option added by Fan in https://github.com/JCSDA-internal/oops/pull/1790) gives this histogram:

![Screenshot from 2022-08-01 17-49-37](https://user-images.githubusercontent.com/6354668/182211055-480193b8-39f4-4375-b4a1-27261f6221e2.png)

Clearly, the green (bilinear) histogram has many more val

[2022-08-01 18:17] CoryMartin-NOAA commented on #35
And here is the global counterpart with `bilinear` and `inverse distance`:

![Screenshot from 2022-08-01 18-12-26](https://user-images.githubusercontent.com/6354668/182214446-50b04b7d-be07-42d3-867f-1a0f0d3edee4.png)

Again, the green (bilinear) histogram is closer to zero.
[code]
Similarly to the regional case, `bilinear` has the mean closest to 0 of the 4 tests, and the lowest standard deviation

[2022-08-01 20:55] CoryMartin-NOAA commented on #35
I plotted the difference of GeoVaLs for the bilinear case, with a colorbar of +-0.3 and looped through each model layer with an alpha of 0.01 so that cumulative differences would plot on top of one another. One plot is surface to top, the other is top to surface.
![Screenshot from 2022-08-01 20-52-49](https://user-images.githubusercontent.com/6354668/182245059-e4c4d2d2-2db4-492c-ab8a-0ec66392bde7.

[2022-08-01 21:05] CoryMartin-NOAA commented on #35
Tagging @frolovsa and @danholdaway for awareness

[2022-08-01 22:48] nicholasesposito commented on #32
I re-built the GDASApp, ran it, and plotted everything again. Results don't look too different.

**air_temperature WITHOUT preqc**
![airt_effqc](https://user-images.githubusercontent.com/62616739/182415520-3691bac7-9bfd-465a-837b-f55ac074543c.png)
![airt_gsiqc](https://user-images.githubusercontent.com/62616739/182415532-b02f7aa9-48d9-41f0-9c15-0feeb250dae3.png)
![airt_scatt_gsiqc_vs_effqc](https:

[2022-08-02 11:50] CoryMartin-NOAA commented on #32
Are the specific humidity plots correct? The # of points are equal but the GSI plots have them just mainly over CONUS whereas the JEDI plot has points globally...

[2022-08-02 12:29] CoryMartin-NOAA commented on #35
Air temperature is fairly homogenous, especially in the tropics and over water. Here is a plot of `humidity mixing ratio` (units of `g/kg`). The differences here for the lowest model layer seem 'random' and non-trivial.
<img width="1154" alt="Screen Shot 2022-08-02 at 8 27 27 AM" src="https://user-images.githubusercontent.com/6354668/182374598-3c6f377b-6c46-4fba-8687-dec1e5eae3d0.png">
The differe

[2022-08-02 15:50] nicholasesposito commented on #32
I made a change in my plotting script. The data is right, but the number of datapoints was being calculated incorrectly. I updated the images above.

[2022-08-02 17:07] CoryMartin-NOAA commented on #35
To test the errors in interpolation to a location, I modified FV3 backgrounds by replacing `ua` and `va` with `geolon` and `geolat`, respectively. This would mean that eastward (northward) wind would be the value of longitude (latitude) at the interpolated point. I then tried to interpolate for radiosondes (an attempt with satwinds failed, possibly due to too many points) using different methods a

[2022-08-02 17:18] danholdaway commented on #35
Inverse dist and baryfix look like they might be identical. Is that expected? Is bilinear and option in the current develop code?

[2022-08-02 17:20] CoryMartin-NOAA commented on #35
@danholdaway I'm double checking that, I noticed it too, wanted to make sure I didn't copy the wrong thing. Bilinear is not an option but is in https://github.com/JCSDA-internal/oops/pull/1790

[2022-08-02 17:34] CoryMartin-NOAA commented on #35
for some reason @fmahebert 's branch didn't like `inverse distance` as an option? Here it is in develop:
-0.22546387 -0.0002640795 0.22266006
The numbers are actually very similar to the develop barycentric. Do they use the same weights somehow? (they shouldn't...)
<img width="620" alt="Screen Shot 2022-08-02 at 1 33 44 PM" src="https://user-images.githubusercontent.com/6354668/182438009-5d5945ec-

[2022-08-02 17:39] danholdaway commented on #35
Could there be a bug? I wouldn't expect them to be identical, which they seem to be.

[2022-08-02 18:02] fmahebert commented on #35
I would suggest not spending too much time evaluating the oops `inverse distance` and `barycentric` options, as they are both known to be wrong. Reminder also that my branch is just a partial fix. I'm comforted to see that Fan's branch seems to be performing about an order of magnitude better — this comparable to the improvement that I have been seeing with my own complete (but not ready for exter

[2022-08-02 18:04] CoryMartin-NOAA commented on #35
Ok thanks @fmahebert I will hold off on any additional testing until this is resolved.

[2022-08-02 20:18] CoryMartin-NOAA opened #36 "Surface Pressure Obs Validation"
Need to validate surface pressure observations from radiosondes, sfc, and sfcships (others?)

This issue will track progress on validation of surface pressure observations in UFO for GDAS in four stages:

- [ ] HofX computation using GSI produced GeoVaLs
- [ ] QC count checks (and YAML changes) using GSI produced GeoVaLs
- [ ] Obs errors using GSI produced GeoVaLs
- [ ] HofX computation in FV3-JED

[2022-08-03 12:50] CoryMartin-NOAA commented on #36
GeoVaLs from GSI will need to be produced. Starting with a fresh version of `develop`, some changes to write out GeoVaLs have been made in this branch: https://github.com/CoryMartin-NOAA/GSI/tree/ufo_geovals

[2022-08-03 13:06] CoryMartin-NOAA commented on #36
Tagging @frolovsa for awareness as this will be one of the first ob types we will want to attempt to include in prototype cycling.

[2022-08-04 14:59] emilyhcliu opened #37 "UFO Evaluation - GSI error model for radiosonde and aircraft data"
### Background:
1. In UFO, [GSI error model](https://github.com/JCSDA-internal/ufo/edit/develop/src/ufo/filters/obsfunctions/ObsErrorFactorConventional.cc) for radiosonde and aircraft data had been implemented.
2. In GSI, the error models for aircraft and radiosonde are applied after the data are read in:
    [read_prepbufr.f90](https://github.com/NOAA-EMC/GSI/blob/develop/src/gsi/read_prepbufr.f9

[2022-08-04 15:16] emilyhcliu commented on #37
Let's get the obs and geoval files first.  We can try to write out the obs error values right after calling the errormodel and errormodel_aircraft into the obs file.

[2022-08-04 16:50] emilyhcliu commented on #37
Also, check out the latest ufo-bundle.  It is quite different from the previous release.

[2022-08-04 16:56] emilyhcliu opened #38 "UFO Evaluation - Revisit AMSU-A filters"
Revisit AMSU-A filters that were implemented based on gfs.v15 and update them based on gfs.v16 (current operational)
- [x] check out the latest ufo-bundle
- [ ] get obs and geoval files from Cory
- [ ] add AMSU-A flow chart here
- [ ] verify AMSU-A filters with results from GSI

[2022-08-04 16:57] emilyhcliu opened #39 "UFO Evaluation - Revisit ATMS filters"
Revisit ATMS filters that were implemented based on gfs.v15 and update them based on gfs.v16 (current operational)

 - [ ] check out the latest ufo-bundle
 - [ ] get obs and geoval files from Cory
 - [ ] add ATMS flow chart here
 - [ ] verify ATMS filters with results from GSI

[2022-08-04 17:45] CoryMartin-NOAA commented on #38
Please try this first pass at creating obs and geovals on Orion:
`/work2/noaa/da/cmartin/UFO_eval/data/gsi_geovals_l127/nofgat_aug2021/20220804` has both `geovals/` and `obs/`.

This should work for all radiances but other obs types in this path should not be trusted. Please let me know if they are wrong/don't work.

[2022-08-04 17:46] CoryMartin-NOAA commented on #39
See path in #38 for sample obs and geovals

[2022-08-04 18:42] PraveenKumar-NOAA commented on #32
I built and ran GDASApp for a yaml with uncommented PreQCs section and plotted EffectiveQC vs GsiEffectiveQC for the eastWind and northWind. Plots look visually similar, but below is full details of the actual number of missing values, out of bounds, rejected by first-guess check, and rejected by pre-QC reports w/o pre QC filter:

**eastward_wind and northward_wind without pre-QC:**
_QC Aircraft e

[2022-08-08 21:08] CoryMartin-NOAA commented on #36
<img width="718" alt="Screen Shot 2022-08-08 at 5 06 14 PM" src="https://user-images.githubusercontent.com/6354668/183514691-79dddb1f-ea35-463c-9f30-4261f550028c.png">
First look at one cycle of Ps H(x). The points in the upper left where UFO computes something closer to 1000 hPa and GSI says a much lower value were investigated. These points are where the station elevation/height is reported to b

[2022-08-09 20:19] CoryMartin-NOAA commented on #36
Using the identity operator and looking at the uncorrected GSI values we get this:
<img width="716" alt="Screen Shot 2022-08-09 at 4 18 14 PM" src="https://user-images.githubusercontent.com/6354668/183752745-c38aba2f-72b6-42aa-a83e-cd3ccd07c34b.png">

I believe this to be ~ machine precision, it fits into three lines, and the largest are +- 0.008 Pa difference, which is good enough for me. This su

[2022-08-11 18:37] CoryMartin-NOAA commented on #36
The combine GSI ncdiag script was not properly combining surface T and Ps obs. This is/was because T is at 2m and Ps was assumed to be at the surface. Once fixing that, here is the result of UFO vs GSI after making some changes to the GSI surface P correction scheme (will be added to a future UFO PR)
<img width="719" alt="Screen Shot 2022-08-11 at 2 30 06 PM" src="https://user-images.githubusercon

[2022-08-11 19:38] frolovsa commented on #36
Thank you @CoryMartin-NOAA for working on this. I am very encouraged by this results (even if i don't follow all the details). As the final check. Can we also plot jedi-omb vs gsi-omb. i find that omb/omb plots provide more resolution with measurements that otherwise might have a very large dynamic range (like surface pressure).

[2022-08-11 19:42] CoryMartin-NOAA commented on #36
Here you go @frolovsa
<img width="727" alt="Screen Shot 2022-08-11 at 3 41 37 PM" src="https://user-images.githubusercontent.com/6354668/184225561-ce053325-786a-40e6-a0ec-1229f45411b8.png">
This is with GSI "GeoVaLs", so the fact that it is basically perfect, is to be expected. But this confirms the Ps correction is working as intended.

[2022-08-11 19:54] frolovsa commented on #36
I known. totally looks perfect. the best one i seen so far :)
Do you plan to produce one with JEDI interpolation? I am curious to see at least one plot where we can see how much omb changes if introduce JEDI interpolation/native grid to the mix. I guess that will be difficult to do until jedi interpolation is fixed? Sorry for the segway. What is the status of the JEDI interpolation at the moment?

[2022-08-11 19:55] CoryMartin-NOAA commented on #36
@frolovsa yes that is the plan, but it is on hold until Francois can update/fix the JEDI interpolation. In the meantime, we can verify the QC/operartors are working as intended.

[2022-08-11 19:59] frolovsa commented on #36
can we still plot it with the existing (bad) interpolation. I wonder how much does the existing problems with interpolation will affect ombs.

[2022-08-11 20:00] CoryMartin-NOAA commented on #36
Yeah I can probably do that tomorrow. I'll make a mental note.

[2022-08-12 14:11] CoryMartin-NOAA commented on #36
Here is a comparison of results from UFO develop vs a fix to the GSI correction method:
**Develop**
<img width="712" alt="Screen Shot 2022-08-11 at 5 12 44 PM" src="https://user-images.githubusercontent.com/6354668/184370716-5f17eb7a-7344-4de4-9490-94a549193c11.png">
**Fix (not yet in branch)**
<img width="720" alt="Screen Shot 2022-08-11 at 2 30 40 PM" src="https://user-images.githubusercontent.c

[2022-08-12 17:42] CoryMartin-NOAA commented on #36
@frolovsa here are the figures you requested. I think any difference in Ps beyond 0.5 hPa should be fairly rare.
<img width="722" alt="Screen Shot 2022-08-12 at 1 40 24 PM" src="https://user-images.githubusercontent.com/6354668/184414013-860057c2-3ed2-49d6-862d-2d6bd766c39a.png">
<img width="725" alt="Screen Shot 2022-08-12 at 1 41 20 PM" src="https://user-images.githubusercontent.com/6354668/1844

[2022-08-12 17:53] frolovsa commented on #36
@CoryMartin-NOAA thank you. A couple of clarifying questions.
- Is the bottom figure using geovals? It looks very similar to what you posted yesterday.
- Is the top figure for code before bug fixes? Seems like the difference n the top figure are large!

[2022-08-12 18:21] CoryMartin-NOAA commented on #36
Both figures in the latest post are using FV3 backgrounds, not geovals. Given that, I think differences of almost all within 0.5 hPa is reasonable. Both are the same run with the bug fix included.

[2022-08-12 18:25] ADCollard commented on #36
Thanks for doing this, @CoryMartin-NOAA.  Please go ahead with the PR.

[2022-08-12 19:41] frolovsa commented on #36
Very cool @CoryMartin-NOAA . Let us know when you think we should re-run surface pressure experiment. Either with the feature branch or with develop (once merged) your call.

[2022-08-12 19:43] CoryMartin-NOAA commented on #36
@frolovsa I have not done any QC or obs error analysis yet. Do you want to wait for that? Or do you want to just try it and see what happens?

[2022-08-16 20:37] nicholasesposito commented on #32
Using the sfc.yaml that Cory graciously wrote as a basis, I wrote an aircraft yaml that does similar things and ran it with ush/ufoeval/run_ufo_hofx_test.yaml.  Most plots looked pretty good, and some that Cory and I discussed are below:

![hofxdiff_vs_pressure_2021080100_aircraft_eastward_wind](https://user-images.githubusercontent.com/62616739/184976115-98f4f66a-5d6a-45f2-a969-59ac22e2d2ed.png)

[2022-08-18 17:42] CoryMartin-NOAA opened #40 "AMV/Satwind Obs Validation"
Need to validate satellite based winds/AMV observations from all platforms

This issue will track progress on validation of AMVs in UFO for GDAS in four stages:

- [x] HofX computation using GSI produced GeoVaLs
- [x] QC count checks (and YAML changes) using GSI produced GeoVaLs
- [x] Obs errors using GSI produced GeoVaLs
- [x] HofX computation in FV3-JEDI

Note this will need to include any near-

[2022-08-18 22:27] nicholasesposito commented on #32
Today, I ran it with Greg's QC that is already in there.

![errordiff_histogram_2021080100_aircraft_air_temperature](https://user-images.githubusercontent.com/62616739/185503914-5c82103d-0014-4f3c-8b99-c46241355fbd.png)

The histogram for all 4 variables are similar to this and look great.

![errordiff_vs_pressure_2021080100_aircraft_eastward_wind](https://user-images.githubusercontent.com/6261673

[2022-08-23 14:57] PraveenKumar-NOAA opened #41 "Evaluate/ Validate Pressure and Temperature QC Procedures in Sonde YAML File and GSI"
A Sonde YAML file exists in GDASApp copied from UFO/ewok/jedi-gdas on June 28, 2022.

Before diving into replicating the PrepBUFR preprocessing for Sonde pressure and temperature observations, we should first check that the QC procedures implemented in UFO match those being performed in GSI on PrepBUFR observations.

- Run GDASApp for the first week of August 2021 for Sonde observations
- Compare

[2022-08-23 15:30] PraveenKumar-NOAA commented on #41
Using the sondes_ps.yaml, that Cory wrote, I ran GDASApp for the following observations: surface pressure, air temperature, specific humidity, and wind. Surface pressure plots are attached below that need to be discussed first:
![gsi_hofx_vs_jedi_hofx_2021080100_sondes_surface_pressure](https://user-images.githubusercontent.com/63739712/186199129-9df5a072-fedb-4dba-9119-bc559f6cf193.png)

This plo

[2022-08-23 15:37] PraveenKumar-NOAA commented on #41
![hofxdiff_vs_pressure_2021080100_sondes_surface_pressure](https://user-images.githubusercontent.com/63739712/186200283-a2ffbf72-4400-4a8e-85e6-7937eeb4bb78.png)

This plot needs further discussion, as points are mostly scattered.

[2022-08-23 15:39] PraveenKumar-NOAA commented on #41
![gsi_hofx_vs_obs_2021080100_sondes_surface_pressure](https://user-images.githubusercontent.com/63739712/186201436-77a9a3a8-1c55-4806-9344-b42d3d2ee130.png)

![jedi_hofx_vs_obs_2021080100_sondes_surface_pressure](https://user-images.githubusercontent.com/63739712/186201616-aeb4c1ea-4b48-4e82-839a-7c9c2068a1ae.png)

Both plots look very similar.

[2022-08-23 15:46] PraveenKumar-NOAA commented on #41
![hofxdiff_histogram_2021080100_sondes_surface_pressure](https://user-images.githubusercontent.com/63739712/186202272-7d7630b2-e4ee-4d9a-8900-17137ad98736.png)

![errordiff_histogram_2021080100_sondes_surface_pressure](https://user-images.githubusercontent.com/63739712/186202287-84602e5c-9827-4542-9e27-7e1e7957fe85.png)

Histogram plots: one is centered at zero, but other one not.

[2022-08-23 15:54] CoryMartin-NOAA commented on #41
I believe these differences can likely be resolved by https://github.com/JCSDA-internal/ufo/pull/2207

[2022-08-23 15:58] PraveenKumar-NOAA commented on #41
I will check once I finished my GDASApp installation, thanks Cory.

[2022-08-23 19:44] nicholasesposito commented on #32
**A few days ago, an option to apply near surface wind scaling for the VertInterp ObsOperator was added. The newest wind plots look much better. Starting off the errordiff vs Pressure did not change, per below:**
![errordiff_vs_pressure_2021080100_aircraft_eastward_wind](https://user-images.githubusercontent.com/62616739/186251475-c0b1a913-0a44-4e49-b443-99a76f780f82.png)

**The most striking diff

[2022-08-23 19:46] CoryMartin-NOAA commented on #32
@nicholasesposito fantastic! 1e-5 m/s is good enough for me!

[2022-08-23 22:27] BrettHoover-NOAA commented on #40
Running Cory's GDASApp (importing GSI grid into JEDI to remove interpolative differences in hofx) and EVA scripts on a yaml file designed for satwind QC, including all criteria in the ewok/jedi-gdas satwind yaml file located [here](https://github.com/NOAA-EMC/ufo/blob/develop/ewok/jedi-gdas/satwind.yaml). The test completes with some level of disagreement between JEDI and GSI on which observations

[2022-08-23 22:56] BrettHoover-NOAA commented on #40
Focusing on the JEDI reject / GSI accept observations, nearly all of them (95%) are from a flag=12 (Bounds Check) failure in JEDI. I decided to try and crawl through these criteria to find the observations where disagreements are happening.

There are numerous Bounds Check filters in the yaml file, some of which are very difficult to simulate from the diag file. Of the ones I could easily simulate

[2022-08-24 14:30] CoryMartin-NOAA commented on #40
@BrettHoover-NOAA I think I agree with you (and it's worth at least trying), that YAML suggests that if it is between 400-800 hPa and is 245,252,253, to reject the obs. I think there are other 'actions' to try, but I don't know them off the top of my head. Perhaps 'accept' instead of 'reject'?

[2022-08-24 15:24] BrettHoover-NOAA commented on #40
I found the range operation in GSI, in [setupw.f90 Lines 963–967](https://github.com/NOAA-EMC/GSI/blob/develop/src/gsi/setupw.f90#L963-L967):
[code]
So it looks like this filter is definitely operating in reverse, excluding what should be retained and retaining what should be excluded. Also, it looks like the filter operates a little differently for Type 252 winds, excluding between 500-800 hPa, w

[2022-08-25 02:09] PraveenKumar-NOAA commented on #41
Air_temperature plots:
![gsi_hofx_vs_jedi_hofx_2021080100_sondes_air_temperature](https://user-images.githubusercontent.com/63739712/186557688-b5395abf-3784-43d4-879b-fef0aeafc7fe.png)

![hofxdiff_vs_pressure_2021080100_sondes_air_temperature](https://user-images.githubusercontent.com/63739712/186557856-3d15eb69-9f42-4406-a8c2-d272d3dfbed4.png)

![gsi_hofx_vs_obs_2021080100_sondes_air_temperature]

[2022-08-25 12:40] CoryMartin-NOAA commented on #41
@PraveenKumar-NOAA something looks wrong here... is this a plotting issue or a data issue?

[2022-08-25 13:42] PraveenKumar-NOAA commented on #41
@CoryMartin-NOAA most probably a data issue, I will look into the details.

[2022-08-25 13:43] CoryMartin-NOAA commented on #41
@PraveenKumar-NOAA it looks like this is 'pressure' and not 'temperature', note that GSI is ~200-300 and JEDI is ~30000-100000 (K vs Pa)

[2022-08-25 14:23] ADCollard opened #42 "ATMS Obs Validation"
**This issue will be used to track progress on the development and validation of radiances in UFO for GDAS in four stages:**

**1. Validation with GeoVaLs from GSI:**
 - [x] **HofX**

- The [**initial validation showed a large HofX difference**](https://github.com/NOAA-EMC/JEDI-T2O/issues/42#issuecomment-1381084705) (no QC) between GSI and JEDI  for surface sensitive channels over snow area.

- CR

[2022-08-25 14:24] ADCollard opened #43 "CrIS Obs Validation"
Need to validate observations from CrIS and evaluate QC procedures in the CrIS YAML file, as a CrIS YAML file already exists in the GDASApp.

This issue will be used to track progress on validation of radiances in UFO for GDAS in four stages:

- [x] HofX computation using GSI produced GeoVaLs
- [x] QC count checks (and YAML changes) using GSI produced GeoVaLs
- [x] Obs errors using GSI produced Ge

[2022-08-25 14:27] ADCollard opened #44 "AMSU-A Obs Validation"
**This issue will be used to track progress on the development and validation of radiances in UFO for GDAS in four stages:**

**1. Validation with GeoVaLs from GSI:**
- [x] HofX
   - [x] GSI NC diagnostic converter needs to update to output GSI HofX directly instead of output HofX based on O-(O-HofX).  This change is necessary to avoid producing [**Zero HofX** ](https://github.com/NOAA-EMC/JEDI-T2

[2022-08-25 14:28] ADCollard opened #45 "MHS Obs Validation"
Need to validate observations from MHS and evaluate QC procedures in the MHS YAML file, as a MHS YAML file already exists in the GDASApp.

This issue will be used to track progress on validation of radiances in UFO for GDAS in four stages:

- [x] HofX computation using GSI produced GeoVaLs
- [x] QC count checks (and YAML changes) using GSI produced GeoVaLs
- [x] Obs errors using GSI produced GeoVa

[2022-08-25 14:29] ADCollard opened #46 "IASI Obs Validation"
Need to validate observations from IASI and evaluate QC procedures in the IASI YAML file, as a IASI YAML file already exists in the GDASApp.

This issue will be used to track progress on validation of radiances in UFO for GDAS in four stages:

- [x] HofX computation using GSI produced GeoVaLs
- [x] QC count checks (and YAML changes) using GSI produced GeoVaLs
- [x] Obs errors using GSI produced Ge

[2022-08-25 14:30] ADCollard commented on #42
This also references #39

[2022-08-25 14:31] ADCollard commented on #44
This also references #38

[2022-08-25 19:49] emilyhcliu commented on #44
List of Platform-
- [ ] N-19
- [ ] N-18
- [ ] N-15
- [ ] MetOp-A
- [ ] MetOp-B
- [ ] Aqua

[2022-08-26 20:07] ADCollard commented on #44
It was noted that there are observations where GSIHofX is zero.  See plot below.   This is only occuring where the observation value is set to missing, so appears to be a quirk in the GSI.  I am still trying to track down exactly where the logic is that is doing this, but this should not adversely affect JEDI validation.

<img width="698" alt="Screen Shot 2022-08-26 at 16 03 48 PM" src="https://us

[2022-08-31 17:25] BrettHoover-NOAA commented on #40
I split this 400–800 pressure filter into 3 filters, applying the exact threshold values to each of the three observation types (245, 252, 253). At @CoryMartin-NOAA's suggestion I replaced the Bounds Check filter with the Perform Action filter, which will execute the reject action on any observation within the bounds, rather than those outside of it:

old filter:
[code]

new filters:
[code]

It lo

[2022-08-31 17:45] BrettHoover-NOAA commented on #40
I am working on code to drill down into the different rejection criteria to find the source of the remaining disagreements. I have some python code that will draw in variables from the diag files and some very limited geovals data that I interpolate to the observations with `MetPy.interpolate.interpolate_to_points()`. I am trying to identify the observations that *should* be rejected by each filte

[2022-08-31 18:04] BrettHoover-NOAA commented on #40
These two filters only account for 264 obs that fail GSI QC and pass JEDI QC, and 47,643 obs that pass GSI QC and fail JEDI QC. Based on the contingency table for all satwinds, this is only 0.092% and 19.2% of the total obs in these contingency categories, respectively.

There is another filter in the JEDI satwinds.yaml file that I have not checked, which rejects any observations 50 hPa above the

[2022-08-31 18:35] BrettHoover-NOAA commented on #40
Update from weekly check-in: we need to reconfigure a few things to make sure that the geovals file contains the tropopause pressure and make sure that both geovals and diag files contain the same obs (minor differences in inclusivity vs exclusivity of the time-window boundaries). NO interpolation should be necessary to go from geoval vars to diag vars, they are BOTH in obs-space. Will update.

[2022-09-01 15:20] kevindougherty-noaa commented on #36
I have began applying QC filters to the `sfc.yaml` and was able to filter out a majority of the bad data. Here is the JEDI h(x) vs. GSI h(x) scatter plot similar to the first image Cory posted:

![image](https://user-images.githubusercontent.com/69815622/187947633-5f2db750-0f88-401d-90dd-9155fa4d468f.png)

Some of the filters were applied from the existing UFO sfc.yaml [here](https://github.com/JC

[2022-09-02 19:38] BrettHoover-NOAA commented on #40
I am digging deeper into GSI QC criteria and I'm running into something I can't readily explain with the GSI 'final' assigned errors. These are the errors assigned in setupw.f90 to satwinds after all QC, and according to setupw.f90 L 1375-1385, should either be some reasonable error value for assimilated obs or set to the value of `huge_single` for rejected obs ([code block](https://github.com/NOA

[2022-09-06 14:16] CoryMartin-NOAA commented on #40
@BrettHoover-NOAA this `GsiEffectiveQC` I think currently only comes from 2 things:
[code]

See: https://github.com/JCSDA-internal/ioda-converters/blob/c0c89d103338e8fec5a96d598cb9075c7061888a/src/gsi-ncdiag/gsi_ncdiag.py#L834

Perhaps GSI ignores the error if the use flag is -1? I'm not sure about that.

[2022-09-06 17:22] CoryMartin-NOAA commented on #40
@BrettHoover-NOAA for your tropopause related QC, can you try for the 2021080100 cycle but change the shell script to point to:
`/work2/noaa/da/cmartin/UFO_eval/data/gsi_geovals_l127/nofgat_aug2021/20220906/obs` (bascially change `20220816` to `20220906` and let me know if it works. I only copied one cycle here for now, but will be running the full week tonight/tomorrow. I think you will probably

[2022-09-06 18:49] BrettHoover-NOAA commented on #40
I appreciate the info and the updated tropopause pressure data, @CoryMartin-NOAA! I'll see if I can generate data for the test cycle.

Based on the code snippet you posted, do you know what the distinction between an ob with `GsiFinalObsError=1e8` versus `GsiFinalObsError=_FillValue=-3.3687953e+38` would be? It looks like the observation error is set to `_FillValue` if `obserror=Inf` (Lines 1564,

[2022-09-06 19:06] CoryMartin-NOAA commented on #40
I think the difference is `_FillValue` is the JEDI IODA fill value vs the `huge_single` value which is the GSI written out value.
This may mean that the ioda-converters python script that goes from GSI ncdiag to IODA may be incomplete/incorrect in what it assumes is good/bad.

[2022-09-07 15:10] BrettHoover-NOAA commented on #40
I was able to get the new tropopause pressure data in geovals, replacing both the `/obs` and`/geovals` directories with their `20220906` counterparts – results look good, thanks!

[2022-09-07 15:19] CoryMartin-NOAA commented on #40
Thanks @BrettHoover-NOAA once the full week is done, I'll populate new files in 20220906 for each cycle

[2022-09-07 19:15] PraveenKumar-NOAA commented on #41
Created new surface pressure plots after the GSI Ps fix, which look similar to those created without this fix.

[2022-09-07 20:46] PraveenKumar-NOAA commented on #41
@CoryMartin-NOAA @ADCollard @emilyhcliu there was an error in yaml for the air_temperarure. I fixed and regenerated air_temperature plots for H(x), error, histogram, etc. The plots look better compared to the old ones.

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_air_temperature](https://user-images.githubusercontent.com/63739712/188974649-b53f5f91-b47b-4149-b77b-e563a3cf11b3.png)

![gsi_hofx_vs_obs

[2022-09-07 23:26] CoryMartin-NOAA commented on #41
Thanks @PraveenKumar-NOAA these look great. Can you do `virtual_temperature` next? The way the sondes input files are currently setup, `air_temperature` obs are only in the ~stratosphere (where there are no humidity obs) and `virtual_temperature` obs are in the troposphere.

[2022-09-07 23:50] PraveenKumar-NOAA commented on #41
@CoryMartin-NOAA sure, thanks for the output.

[2022-09-14 16:38] ADCollard commented on #46
So finally we have some HofX differences.
<img width="715" alt="Screen Shot 2022-09-14 at 11 30 01 AM" src="https://user-images.githubusercontent.com/40322596/190212283-66d5e29c-6c2c-4e81-8d10-ac9ec3f67cff.png">
<img width="728" alt="Screen Shot 2022-09-14 at 11 45 49 AM" src="https://user-images.githubusercontent.com/40322596/190212301-20a07398-d5f3-4a0a-b948-f6ce9310c504.png">

Mean differences

[2022-09-14 17:10] ADCollard commented on #46
The errant point(s) appears to be on the southern coast of Alaska (look closely!)
<img width="740" alt="Screen Shot 2022-09-14 at 13 09 16 PM" src="https://user-images.githubusercontent.com/40322596/190218831-7a567a8b-b366-461d-81e2-92212d102d21.png">

[2022-09-14 18:39] ADCollard opened #47 "List of Exceptions in JEDI-T2O Evaluation"
List exceptions to JEDI-T2O here (GSI QC that will not be implemented in JEDI).  Please link to Issue where each is documented.

1)

[2022-09-14 19:07] ADCollard opened #48 "SSMIS Obs Validation"
Need to validate observations from SSMIS and evaluate QC procedures in the SSMIS YAML file, as a SSMIS YAML file already exists in the GDASApp.

This issue will be used to track progress on validation of radiances in UFO for GDAS in four stages:

- [ ] HofX computation using GSI produced GeoVaLs
- [ ] QC count checks (and YAML changes) using GSI produced GeoVaLs
- [ ] Obs errors using GSI produced

[2022-09-14 21:09] BrettHoover-NOAA commented on #40
I have not included the updated `land_type_index_NPOESS` geovals variable into the filters yet, but looking at the geovals file the data looks good. I'll try constructing a filter for the ob-types that use the `SatWindsLNVDCheck` function, since in the GSI the LNVD check is paired with a check for near-surface wind rejections over non-water surfaces with varying pressure thresholds depending on th

[2022-09-14 21:22] BrettHoover-NOAA commented on #47
1. (Sat)winds exception for rejections based on the GSI's `qcgross` check in `setupw.f90`. This check is intended to be reproduced in JEDI with the `SatWindsSPDBCheck` function, but that function may need an overhaul to work properly. As it is currently written, there is no feasible way to make `SatWindsSPDBCheck` work exactly the same way the GSI `qcgross` check works, and the entire logic behind

[2022-09-15 14:11] PraveenKumar-NOAA commented on #41
@CoryMartin-NOAA I ran GDASApp and generated virtual-temperature plots for the sonde data. I nned to discuss these plots with you.

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_virtual_temperature](https://user-images.githubusercontent.com/63739712/190425797-75ec35fe-95fa-4e96-8945-5b52c20d5901.png)

![gsi_hofx_vs_obs_2021080100_sondes_virtual_temperature](https://user-images.githubusercontent.com/63

[2022-09-15 14:34] CoryMartin-NOAA commented on #41
@PraveenKumar-NOAA Yikes, something looks bad here...

[2022-09-15 17:17] nicholasesposito commented on #32
The most recent task was to investigate the GSI setupw.f90 script and see what the QC performed for winds were. I found a small section, which was already in the aircraft.yaml, in addition to numerous other winds QC. I took out the additional QC from the yaml to determine what effect that would have on the results. What I found is that we had much better results when all of the QC remained in.

Fo

[2022-09-15 18:07] BrettHoover-NOAA commented on #40
@CoryMartin-NOAA: I am working backward from `setupw.f90` to audit the GSI acceptance criteria in `read_satwnd.f90`. The decisions made in `read_satwnd.f90` are passed to `setupw.f90` through the quality mark variable, which is currently available in the diag files as `PreQC`. Satwinds with flag values of 9, 12, or 15 inherited from `read_satwnd.f90` are rejected in `setupw.f90`.

There are numero

[2022-09-15 18:15] CoryMartin-NOAA commented on #40
I believe my answer, @BrettHoover-NOAA, is it depends on timeline. Short term: you can assume you will have these flags set, but long term, we will want to construct the filters. To be honest, I lean on the side of not duplicating effort. So I say might as well recreate these in YAML as soon as possible. Otherwise the PreQC checks will be largely trivial to implement I think.

[2022-09-15 21:32] nicholasesposito commented on #32
The next thing to do was to see if the number of passing JEDI points (where EffectiveQC=0) and passing GSI points (where GsiEffectiveQC=0) are the same. They were not, but of all the tests performed so far, the yaml with only GSI QC performed the best. It was later discovered that of all the points for the GSIEffectiveQC=1 and EffectiveQC=0, the preQC = 1 at all 95 points where the difference was.

[2022-09-15 21:35] nicholasesposito opened #49 "Evaluate specific humidity QC Procedures in Aircraft YAML File and GSI"
An aircraft YAML file exists in GDASApp copied from UFO/ewok/jedi-gdas on June 28, 2022.

Before diving into replicating the PrepBUFR preprocessing for aircraft observations, we should first check that the QC procedures implemented in UFO match those being performed in GSI on PrepBUFR aircraft observations.

[] Run GDASApp for first week of August 2021 for aircraft observations
[] Compare Effectiv

[2022-09-16 17:58] ADCollard commented on #46
After a number of (mostly self-inflicted) issues we finally have a plot of differences in QC.  It looks like the differences could be a cloud detection issue.

<img width="694" alt="Screen Shot 2022-09-16 at 13 57 02 PM" src="https://user-images.githubusercontent.com/40322596/190702701-7f5424e0-03ed-44cd-8eb5-b093f98cd932.png">

[2022-09-16 20:09] ADCollard commented on #46
So I found the bug in the YAML and now the stats are identical.  On to obs errors....

<img width="695" alt="Screen Shot 2022-09-16 at 15 56 38 PM" src="https://user-images.githubusercontent.com/40322596/190724625-8bddc1e6-a089-47e2-890b-5c5587723a5d.png">

[2022-09-16 20:14] ADCollard commented on #46
Obs errors also appear to be identical.  Well done GMAO!

[2022-09-21 23:21] nicholasesposito commented on #49
I initially went through setupq.f90 in the GSI code to determine what QC was done to specific_humidity for aircraft data. There was none, so I took out all the QC in the yaml, ran it and produced the following results:

The GSI HofX and Jedi HofX line up perfectly (below) , as does GSI omb vs Jedi omb (not pictured but looks the same)
![gsi_hofx_vs_jedi_hofx_2021080100_aircraft_specific_humidity](

[2022-09-21 23:22] nicholasesposito commented on #49
Finally I performed some statistics on the output file, and found that:

num of points where specific_humidity/EffectiveQC=0 : 8070
num of points where specific_humidity/GsiEffectiveQC=0 : 8070
total same =  8070  of  120387
percent same =  100 %
num of points where effqc = 0 and gsieffqc = 1 is: 0
num of points where effqc = gsieffqc is:  8070   ( only happened where 0 = 0)

num of points where e

[2022-09-22 20:42] BrettHoover-NOAA commented on #40
The satwinds acceptance differences between GSI and UFO are fully accounted for in the 2022080100 test data. This means that all winds are either in agreement between GSI and UFO acceptance criteria, or the differences are traceable to a known cause.

The breakdown of acceptance (disagreement) on the test data is that ~75% of observations are in agreement (both GSI and UFO pass, or both GSI and UF

[2022-09-27 14:09] PraveenKumar-NOAA opened #50 "Evaluate/ Validate Wind QC Procedures in Sonde YAML File and GSI"
A Sonde YAML file exists in GDASApp copied from UFO/ewok/jedi-gdas on June 28, 2022.

Before diving into replicating the PrepBUFR preprocessing for Sonde wind observations, we should first check that the QC procedures implemented in UFO match those being performed in GSI on PrepBUFR wind observations.

- Run GDASApp for the first week of August 2021 for Sonde observations
- Compare EffectiveQC aga

[2022-09-27 16:40] PraveenKumar-NOAA commented on #50
### Using a sonde YAML, without any QCs, I ran GDASApp for the wind (eastward and northward) observation and produced the following results for eastwardWind:

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_eastward_wind](https://user-images.githubusercontent.com/63739712/192585266-19c0daad-5db9-4a74-9e41-3f2274d3bdd3.png)

![gsi_hofx_vs_obs_2021080100_sondes_eastward_wind](https://user-images.githubuse

[2022-09-27 16:52] PraveenKumar-NOAA commented on #50
### Using QCs copied from the UFO/ewok/jedi-gdas Sonde YAML, the results for the eastwardWind are:

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_eastward_wind](https://user-images.githubusercontent.com/63739712/192587552-ea27a245-2bb9-46c2-aa01-552292b9be9b.png)

![gsi_hofx_vs_obs_2021080100_sondes_eastward_wind](https://user-images.githubusercontent.com/63739712/192587555-55362171-d7e8-4227-8051-26b

[2022-09-27 16:58] PraveenKumar-NOAA commented on #50
### Using a sonde YAML, without any QCs, I ran GDASApp for the northwardWind and produced the following results:

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_northward_wind](https://user-images.githubusercontent.com/63739712/192588962-d3d06beb-1b3d-4eab-bd86-a28751039e3b.png)

![gsi_hofx_vs_obs_2021080100_sondes_northward_wind](https://user-images.githubusercontent.com/63739712/192588963-cc328ee5-2e

[2022-09-27 17:00] PraveenKumar-NOAA commented on #50
### Using QCs copied from the UFO/ewok/jedi-gdas Sonde YAML, the results for the northwardWind are:

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_northward_wind](https://user-images.githubusercontent.com/63739712/192589502-a779b4d4-97d0-4db0-b6d7-0c02670ffea8.png)

![gsi_hofx_vs_obs_2021080100_sondes_northward_wind](https://user-images.githubusercontent.com/63739712/192589503-2b0f866e-eca1-45d2-9dc0-

[2022-09-29 20:43] azadeh-gh commented on #48
Hofx was identical
QC was almost identical (except 24 locations on lakes with > 2000 height that not rejected in GSI)

[2022-10-04 15:08] azadeh-gh commented on #48
other than above 24 obs the obs errors difference in <1.5% of obs were:
1.19E-07
2.38E-07
3.58E-07
4.77E-07

[2022-10-11 19:28] PraveenKumar-NOAA commented on #41
Regenerated surface_pressure plots using the updated GDASApp and performed analysis on the output diag file:

**Comparison of GSI and UFO H(x):**

- The differences between GSI and UFO H(x) is very small.
- The regression is on the 1:1 line, where slope is 1 and the intercept is 0.93 for the observations that passed the QCs.

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_surface_pressure](https://user

[2022-10-11 20:15] kevindougherty-noaa commented on #36
Below is the progress on surface ships surface pressure QC filters. The existing [QC filters in UFO](https://github.com/JCSDA-internal/ufo/blob/develop/ewok/skylab/ship.yaml) were included and covered most of the QC. An additional filter was added to reject all data where `ObsType` is 183. The data are rejected in GSI and a majority had very large `EffectiveErrors`. Here are the filters used:
[cod

[2022-10-12 17:07] kevindougherty-noaa commented on #36
Here is the update on surface ships air temperature QC filters. Similar to the comment above, The existing [QC filters in UFO](https://github.com/JCSDA-internal/ufo/blob/develop/ewok/skylab/ship.yaml) were included and covered most of the QC and a third filter was added to reject all `ObsType` equal to 183 as these are all rejected by GSI. The yaml and filters used are here:
[code]
After the above

[2022-10-12 19:09] kevindougherty-noaa commented on #36
Here is the update for surface ships for specific humidity. All that was added was a simple bounds check and reject where `ObsType` is 183 and it nearly removed all data that was not being assimilated by GSI. Here is the yaml:
[code]
Only 9 values were still being accepted by JEDI where `PreQC` was 15.

Here is the JEDI h(x) vs. GSI h(x):
![image](https://user-images.githubusercontent.com/69815622

[2022-10-12 19:11] CoryMartin-NOAA commented on #36
@kevindougherty-noaa hofx differences look non-trivial here for humidity. Is this due to vertical interpolation? Perhaps there is something we need to add to make this closer? Can you look at a plot of the differences?

[2022-10-12 19:25] kevindougherty-noaa commented on #36
@CoryMartin-NOAA here is the JEDI omb vs. GSI omb:

![image](https://user-images.githubusercontent.com/69815622/195430423-136cb5de-d2bf-4643-9cd6-8cd8cc4ee7a7.png)

[2022-10-12 19:28] PraveenKumar-NOAA opened #51 "Evaluate/ Validate Specific Humidity QC Procedures in Sonde YAML File and GSI"
A Sonde YAML file exists in GDASApp copied from UFO/ewok/jedi-gdas on June 28, 2022.

Before diving into replicating the PrepBUFR preprocessing for sonde specific humidity observations, we should first check that the QC procedures implemented in UFO match those being performed in GSI on PrepBUFR observations.

- Run GDASApp for the first week of August 2021 for Sonde observations
- Compare Effecti

[2022-10-12 19:40] kevindougherty-noaa commented on #36
@CoryMartin-NOAA My apologies, I misunderstood your request. Here is the h(x) differences:

![image](https://user-images.githubusercontent.com/69815622/195433058-3b3ae9eb-5daf-4c28-938a-cef0974a6deb.png)

[2022-10-12 19:45] CoryMartin-NOAA commented on #36
@kevindougherty-noaa thanks, I am a bit concerned about these points that pass QC (red) but are relatively large differences (the ones that are ~ -0.001). Can you take a look and see if there is anything in common with these points besides GSI h(x) value?

[2022-10-12 19:56] azadeh-gh commented on #48
All 4 stages checked and pull request sent to GDASApp repo.

[2022-10-12 20:16] PraveenKumar-NOAA commented on #51
Using a sonde YAML, without any QCs, I ran GDASApp for the specific_humidity and produced the following results.

**Comparison of GSI and UFO H(x):**

The differences between GSI and UFO H(x) are very small.
The regression is on the 1:1 line, where the slope is 1 and the intercept is 0.0 for the observations that passed the QCs.

![gsi_hofx_vs_jedi_hofx_2021080100_sondes_specific_humidity](https:/

[2022-10-13 18:35] nicholasesposito commented on #32
Recompiled GDASApp. Ran with old yamls and found results were different.
Determined new results were better.
Decided we want to determine why the 95 points are different.
Now adding the gross check information into yaml.
Went through prepobserrtable to add error information for pressure levels to ObsErrorModelStepwiseLinear@ObsFunction. Then added the satwindsspdbcheck using cermin/carmax from the

[2022-10-13 20:15] BrettHoover-NOAA commented on #40
Satwind UFO acceptance work has been able to generate most of the `PreQC` checks in YAML. Equivalents for GSI's `qifn`, `qify` and `ee` quality information have been duplicated in the diag file, along with the satellite zenith angle – these are necessary for many of the `PreQC` filters. I am currently working on including the GSI's `pct1` filter, which filters out any NESDIS ob with a pct1 (CVWD,

[2022-10-13 21:33] azadeh-gh commented on #48
Added 2 ssmis_f18.yaml file similar to ssmis_f17.yaml file and sent pull request to GDASApp repo

[2022-10-14 13:41] CoryMartin-NOAA commented on #36
After turning off the duplicate error inflation in GSI and nvqc, I am able to reproduce the errors in UFO compared to GSI (save for one point).:

![Image](https://user-images.githubusercontent.com/6354668/195861306-cdc61583-53f4-4cd1-a693-5e6d5dd9aedc.png)

This YAML will be committed to GDASApp soon, and a PR will be opened/updated in UFO to reflect these changes.

[2022-10-14 17:03] PraveenKumar-NOAA commented on #41
Updated results for the air_temperature obs. I only used PreQC for the air_temperature in my YAML and the results obtained are discussed below:

**Comparison of GSI and UFO H(x):**

- The differences between GSI and UFO H(x) are very small.
- The regression is on the 1:1 line, where the slope is 1 and the intercept is 0.0 for the observations that passed the QCs.

![gsi_hofx_vs_jedi_hofx_202108010

[2022-10-14 17:20] PraveenKumar-NOAA commented on #41
The number of observations that passed QCs is listed in the following document, https://docs.google.com/document/d/1_w6P-cJkxyYzTvLNMm6kCBWj2ZATk0PMsXOdKW29z8s/edit for three different YAML:

- YAML with no QC,
- YAML with QCs copied from an existing GDASapp sonde YAML, copied from UFO/ewok/jedi-gdas
- New (gsi) YAML

[2022-10-14 17:49] PraveenKumar-NOAA commented on #50
Updated results for the wind (eastward and northward) observation. I only used PreQC for wind in my YAML and the results obtained are discussed below:

**Comparison of GSI and UFO H(x):**

- The differences between GSI and UFO H(x) are very small.
- The regression is on the 1:1 line, where the slope is 1 and the intercept is 0.0001 for the observations that passed the QCs.

![gsi_hofx_vs_jedi_hofx

[2022-10-14 17:49] PraveenKumar-NOAA commented on #50
The number of observations that passed QCs is listed in the following document, https://docs.google.com/document/d/1_w6P-cJkxyYzTvLNMm6kCBWj2ZATk0PMsXOdKW29z8s/edit for three different YAML:

- YAML with no QC,
- YAML with QCs copied from an existing GDASapp sonde YAML, copied from UFO/ewok/jedi-gdas
- New (gsi) YAML

[2022-10-14 17:52] PraveenKumar-NOAA commented on #51
The number of observations that passed QCs is listed in the following document, https://docs.google.com/document/d/1_w6P-cJkxyYzTvLNMm6kCBWj2ZATk0PMsXOdKW29z8s/edit for three different YAML:

- YAML with no QC,
- YAML with QCs copied from an existing GDASapp sonde YAML, copied from UFO/ewok/jedi-gdas
- New (gsi) YAML

[2022-10-14 18:01] CoryMartin-NOAA commented on #36
QC counts are identical for this cycle between GSI and UFO with the QC filters in YAML

![Image](https://user-images.githubusercontent.com/6354668/195911708-ef16af47-cba7-4fa4-ad9c-9aa5490ea105.png)

[2022-10-14 21:53] BrettHoover-NOAA commented on #40
I've created a GDASApp fork in my own repository to add `satwind.yaml` to the `develop` branch. The current configuration of the YAML file contains all of the filters I believe I can reasonably reproduce, with some caveats, as well as essentially re-creating the satwinds portion of `prepobs_errtable.global` in the YAML's prior-filters to establish initial ob errors for each type.

The filters for

[2022-10-17 21:50] BrettHoover-NOAA commented on #40
I **_believe_** that I have closed the GSI/UFO Acceptance of satwinds following an audit of YAML filters.

The `Type=245` rejections were caused by a mistake in using `where` statements in the YAML file, essentially treating `and` statements as `or` statements and allowing for all `Type=245` winds to be rejected whether or not they met the other criteria. This has been fixed in the latest YAML fil

[2022-10-17 21:54] BrettHoover-NOAA commented on #47
2. (Sat)winds exception for rejections based on GSI's `experr_norm` check in `read_satwnd.f90`, L1192–1198:

[code]
This test is carried out for NESDIS winds, and relies on computing a norm as a ratio of the expected error to the wind speed, rejecting winds with a norm value `>0.9`. This needs to be introduced as an `obsfunction` since we do not have the math tools required to carry out this compu

[2022-10-20 13:32] XuanliLi-NOAA opened #52 "SEVIRI Obs Validation"
This issue will be used to track progress on validation of SEVIRI observations in UFO for GDAS
A SEVIRI YAML file in GDASApp was copied from ufo/test/testinput/instrumentTests  to parm/atm/obs/testing.

The following will be tested:
 hofx computation using GSI produced GeoVaLs with run_ufo_hofx_test.sh script
 QC count checks and YAML changes by comparing EffectiveQC against GsiEffectiveQC and Pre

[2022-10-20 21:05] azadeh-gh commented on #45
QC count checks :
issue: adding ifail_fact1_qc related to scattering index. Maybe We do not need to have MHS for clear sky, and only want to test the merged MHS all sky.

[2022-10-20 21:10] azadeh-gh opened #53 "AVHRR Obs Validation"
Need to validate observations from AVHRR and evaluate QC procedures in the AVHRR YAML file, as a AVHRR YAML file already exists in the GDASApp.

This issue will be used to track progress on validation of radiances in UFO for GDAS in four stages:

- [x] HofX computation using GSI produced GeoVaLs
- [x] QC count checks (and YAML changes) using GSI produced GeoVaLs (see [comment](https://github.com/N

[2022-10-20 21:11] #48 closed, assigned to azadeh-gh

[2022-10-31 15:31] azadeh-gh commented on #53
Naming issue: geoval and obs files name is avhrr but the name in bc is avhrr3, so cannot run the run_ufo_hofx script by using one name for obstype, I used avhrr for obstype name and inserted avhrr3_n18 in copy BC files part of the code.
QC filters: Used Andrew's updated geoval to have :
 1) "VarMetaData" in naming
 2) Correct troposphere pressure unit.
GeoDir=/work2/noaa/da/acollard/UFO_eval/data/